<h1>Onesport</h1>
<div id="forecast-wrapper">
    <img id="forecast" src="/images/{{runs.failureCount | forecast}}.svg"/>
</div>
<div class="accordion" id="runs">

    <div ng-repeat="run in runs.reverse()" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="accordion-group">
        <div class="accordion-heading">

            <a class="accordion-toggle" data-toggle="collapse" data-parent="#runs" href="#run_{{$index}}">
                <h3>
                    <span class="label label-{{ run.fails.length > 0 && 'danger' || 'success' }}">{{ run.fails.length > 0 && 'failed' || 'passed' }} Run {{ $index+1 }}</span>
                    <small class="date-time text-muted">{{ run.updated_at | date:'dd/MM/yyyy HH:mm:ss' }}</small>
                </h3>
                <span class="total-number-of-passes badge">{{run.fails.length}}</span>
          <span class="pull-right">
          Failed
          <span class="total-number-of-fails badge">{{run.total_test_count}}</span>
          </span>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" style="width: {{100 - ((run.fails.length / run.total_test_count) * 100)}}%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: {{(run.fails.length / run.total_test_count) * 100}}%"></div>
                </div>
            </a>

        </div>

        <div id="run_{{$index}}" class="accordion-body collapse">
            <div class="accordion-inner">

                <dl class="dl-horizontal well"  ng-repeat="fail in run.fails">
                    <div ng-repeat="(k,v) in fail">
                        <dt>{{k}}</dt>
                        <dd>{{v}}</dd>
                    </div>
                </dl>
            </div>
        </div>

    </div>
</div>

